/* common */
body{margin:0;padding:0;font-size:12px;background:#fff;font-family:'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif}
h1,h2,h3,h4,h5,h6{margin:0; padding:0}
p,input{margin:0;padding:0}
ul,li{list-style:none;padding:0;margin:0}
strong,em{font-style:normal}
.blind{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:0}

/* pagination */
.pagination{height:26px;margin:14px 0 12px;line-height:normal;text-align:center}
.pagination a,.pagination strong{display:inline-block;position:relative;padding:3px 8px 4px;color:#333;font-size:12px;font-weight:bold;line-height:normal;text-decoration:none;vertical-align:middle}
.pagination strong{padding:3px 6px 4px;color:#ff1313;border:1px solid #d4d4d4;background:#e7e7e7}
.pagination .pre_end,.pagination .pre,.pagination .next,.pagination .next_end{overflow:hidden;width:33px;height:11px;padding:0;background:url(../images/sp_btn2.gif) no-repeat;font-size:0;line-height:999px;white-space:nowrap}
.pagination .pre_end{width:40px;margin-right:8px;background-position:-150px 0}
.pagination .pre{margin-right:10px;background-position:-100px 0}
.pagination .next{margin-left:10px;background-position:0 0}
.pagination .next_end{width:40px;margin-left:11px;background-position:-50px 0}

/* btn */
.btn_text,.btn_text span{display:inline-block;background:url(../images/bg_btn_text.gif) 0 0 no-repeat;font-size:11px;color:#333;letter-spacing:-1px;line-height:23px;text-decoration:none;white-space:nowrap;cursor:pointer}
.btn_text span{margin-left:8px;padding-right:7px;background-position:100% 0}
.btn_text:hover,.btn_text span:hover,.btn_text:focus,.btn_text span:focus{background-position:0 -30px}
.btn_text:active,.btn_text span:active{background-position:0 -60px}
.btn_text span:hover,.btn_text span:focus{margin-left:8px;padding-right:7px;background-position:100% -30px}
.btn_text span:active{margin-left:8px;padding-right:7px;background-position:100% -60px}
.btn_text .excel{display:inline-block;padding-left:17px;background:url(../images/sp_bu.gif) no-repeat 0 5px}
.btn_text .grid{display:inline-block;padding-left:17px;background:url(../images/sp_bu.gif) no-repeat 0 -21px}
.btn_text2,.btn_text2 span{display:inline-block;background:url(../images/bg_btn_text.gif) 0 -90px no-repeat;font-size:11px;color:#444;letter-spacing:-1px;line-height:19px;text-decoration:none;white-space:nowrap;cursor:pointer}
.btn_text2 span{margin-left:8px;padding-right:7px;background-position:100% -90px}

a.btn_sp span{display:inline-block;overflow:hidden;width:74px;height:26px;background:url(../images/sp_btn.gif) no-repeat;font-size:0;line-height:999px;cursor:pointer}
a span.del{width:55px;height:36px;background-position:-300px 0}
a:hover span.del,a:focus span.del{width:55px;height:36px;background-position:-380px 0}
a:active span.del{width:55px;height:36px;background-position:-460px 0}
a span.add{width:55px;height:36px;background-position:-300px -40px}
a:hover span.add,a:focus span.add{width:55px;height:36px;background-position:-380px -40px}
a:active span.add{width:55px;height:36px;background-position:-460px -40px}

a span.btn_save{background-position:0 0}
a span.btn_save:hover,a span.btn_save:focus{background-position:-100px 0}
a span.btn_save:active{background-position:-200px 0}
a span.btn_cnl{background-position:0 -40px}
a span.btn_cnl:hover,a span.btn_cnl:focus{background-position:-100px -40px}
a span.btn_cnl:active{background-position:-200px -40px}
a span.btn_reset{background-position:0 -80px}
a span.btn_reset:hover,a span.btn_reset:focus{background-position:-100px -80px}
a span.btn_reset:active{background-position:-200px -80px}

.uio_grid table td .brand a{color:#555;text-decoration:none}
a span.brand_on{height:16px;width:16px;background-position:-60px -20px}
a span.brand_off{height:16px;width:16px;background-position:-90px -20px}

.search_bx{position:relative}
.uio_grid table td .search{display:block;height:20px;padding:0 21px 0 6px;border:1px solid #9c9c9c;line-height:20px}
.uio_grid table td .search input{padding:0;padding-top:4px;border:0;color:#999;-webkit-appearance:none}
.search_btn{position:absolute;top:3px;right:0;background-color:transparent;border:0;width:22px;height:21px;background:url(../img/sp_btn2.gif) no-repeat -120px -20px;cursor:pointer}