@charset "utf-8";
/* NTS UI Development 2Team LEH 110518 */
/* 이미지의 경로는 절대경로를 사용하는 것이 기본 룰이나, 공용 컴포넌트에서 사용하는 이미지 경로는 SSL 지원 문제로 인하여 예외적으로 상대 경로로 처리한다. */

.uio_grid{width:100%;background:#fff;color:#444;position:relative;border-bottom:solid 1px #ccc;clear:both;}
/* .uio_grid{scrollbar-highlight-color:#fff;scrollbar-shadow-color:#fff;scrollbar-arrow-color:#8a8a8a;scrollbar-face-color:#fff;scrollbar-3dlight-color:#e4e4e4;scrollbar-darkshadow-color:#e4e4e4;scrollbar-track-color:#f8f8f8;} */
.uio_grid{scrollbar-highlight-color:#f2f2f2;scrollbar-shadow-color:#f2f2f2;scrollbar-arrow-color:#8a8a8a;scrollbar-face-color:#d9d9d9;scrollbar-3dlight-color:#f2f2f2;scrollbar-darkshadow-color:#f2f2f2;scrollbar-track-color:#f2f2f2;}
.uio_grid ::-webkit-scrollbar{-webkit-appearance: none;width:17px;height:17px;background-color:#f2f2f2;border-top:solid 1px #ccc;}
.uio_grid ::-webkit-scrollbar-thumb{background-color:#d9d9d9;border:5px solid transparent;border-radius:7px;background-clip:content-box;}
.uio_grid ::-webkit-scrollbar-thumb:hover{background-color: #c1c1c1;}
.uio_grid ::-webkit-scrollbar-corner{background-color: #f2f2f2;}

.uio_grid input[type=text] {outline:none}
.uio_grid .initializing_layer{width:100%;height:100%;font-weight:bold;text-align:center;border-top:solid 1px #ccc;border-bottom:solid 1px #ccc;position:absolute;background:#fff}
.uio_grid .initializing_layer div{margin-top:50px;}
.uio_grid .initializing_layer img{display:block;margin:10px auto 0}
.uio_grid .no_row_layer{display:none;position:absolute;top:0;left:0;width:100%;padding-top:50px;border-top:solid 1px #ccc;border-bottom:solid 1px #ccc;background:#fff;font-weight:bold;text-align:center}
.uio_grid .loading_layer{display:none;position:absolute;top:0;left:0;width:100%;padding-top:50px;border-top:solid 1px #ccc;border-bottom:solid 1px #ccc;background:#fff;font-weight:bold;text-align:center;z-index:9}
.uio_grid .loading_layer img{display:block;margin:10px auto 0;}
.uio_grid .loading_layer .loading_img{display:block;margin:10px auto 0;background:url(../images/uiogrid_loading.gif);border:0;width:150px;height:13px}

.uio_grid .left_line{position:absolute;top:0;width:1px;height:100%;background:#ccc;left:0;z-index:10}
.uio_grid .right_line{position:absolute;top:0;width:1px;height:100%;background:#ccc;right:0;z-index:10}
.uio_grid .clipboard{position:fixed;top:0px;left:-9999px;width:100px;height:100px}
.uio_grid .table_container {position:absolute;top:0;width:100%}
.uio_grid .blocker{display:none;position:absolute;top:0;left:0;z-index:10;width:100%;height:100%;background-color:#000;opacity:0.1;filter:alpha(opacity=10);filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=10);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)"}
.uio_grid .selection_blocker{display:none;position:absolute;top:0;left:0;z-index:10;width:100%;height:100%;background-color:#000;opacity:0;filter:alpha(opacity=0);filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}

.uio_grid .lside_area{display:none;height:100%;position:absolute;top:0;left:0;overflow:hidden;}
.uio_grid .lside_area .header{_width:100%;overflow:hidden;}
.uio_grid .lside_area .data{_width:100%;overflow:scroll;position:relative;margin-right:-17px;*padding-right:17px}
.uio_grid .lside_area .data table{*margin-right:-17px;}
.uio_grid .lside_area .data .selection_layer{display:none;position:absolute;top:0;left:1px;width:0;height:0;border:dotted 1px red;background:orange;opacity:0.2;filter:alpha(opacity=10)}
.uio_grid .rside_area{display:none;height:100%;overflow:hidden;}
.uio_grid .rside_area .header{_width:100%;position:relative;*padding-right:17px;overflow-x:hidden;overflow-y:scroll}
.uio_grid .rside_area .header table{*margin-right:-17px}
.uio_grid .rside_area .data{_width:100%;position:relative;*padding-right:17px;overflow:scroll;}
.uio_grid .rside_area .data table{*margin-right:-17px}
.uio_grid .rside_area .data .selection_layer{display:none;position:absolute;top:0;left:-1px;width:0;height:0;border:dotted 1px red;background:orange;opacity:0.2;filter:alpha(opacity=10)}
.uio_grid .rside_area .space{display:block;position:absolute;top:0;right:0;width:16px;border:solid 1px #ccc;background:#f8f8f8;}

.uio_grid .header th{background:#f8f8f8}
.uio_grid .header .resize_handle_container{display:none;position:relative;width:0;}
.uio_grid .header .resize_handle_container .resize_handle{float:left;position:absolute;top:-1px;left:-99px;width:7px;height:100%;background:red;opacity:0;filter:alpha(opacity=0);cursor:col-resize}
.uio_grid .header .resize_handle_container .resize_handle_last{width:3px;}

.uio_grid .virtual_scrollbar{display:none;overflow-x:hidden;overflow-y:scroll;position:absolute;width:18px;right:0;top:0}
.uio_grid .virtual_scrollbar .content{width:1px;background:#ccc}

.uio_grid table{border:0;table-layout:fixed;background-color:#ccc;border-collapse:separate;border-spacing:1px;margin:0}
.uio_grid table th{overflow:hidden;white-space:nowrap;*white-space:pre;text-align:center;padding:0;border:0}
.uio_grid table th .sort a{color:#555;text-decoration:none}
.uio_grid table th .btn_sorting{display:inline-block;overflow:hidden;margin-left:6px;height:16px;width:10px;background:url(../images/sp_btn2.gif) -40px -20px no-repeat;font-size:0;line-height:999px;vertical-align:middle;cursor:pointer;}
.uio_grid table th .sorting_down{height:16px;width:10px;background-position:0 -20px}
.uio_grid table th .sorting_up{height:16px;width:10px;background-position:-20px -20px}
.uio_grid table tr.selected{background-color:#f8f8f8}
.uio_grid table tr.disabled{color:#b0b0b0}
.uio_grid table tr.invalidated{background-color:#ffe1e1}
.uio_grid table td{overflow:hidden;padding:0 10px;*padding:1px 10px;border:0;white-space:nowrap;*white-space:pre;}
.uio_grid table td.ellipsis{-o-text-overflow:ellipsis; /*Opera 9*/-moz-binding:url('ellipsis.xml#ellipsis'); /* Firefox */width:100%; /* for IE6 */text-overflow:ellipsis}
.uio_grid table td img{vertical-align:middle}
.uio_grid table td span.before{float:left;margin-right:2px;line-height:1.5}
.uio_grid table td span.after{float:right;margin-left:2px;line-height:1.5}
.uio_grid table td span.input{display:block;overflow:hidden;line-height:1.5;*margin-left:-2px;*padding-left:2px;}
.uio_grid table td span.input input{box-sizing:border-box;}
.uio_grid table td input[type=text],
.uio_grid table td input[type=password]{width:100%;padding:2px 0;;border:solid 1px #E2E3EA;border-top:solid 1px #ABADB3;border-bottom:solid 1px #E3E9EF;}
.uio_grid table td input.editing{border:solid 1px #748eea}
.uio_grid table td select{width:100%;}
.uio_grid table td a{color:#002caf}
.uio_grid table td.editable{background-color:#ffffef}
.uio_grid table td.selected{background-color:#f8f8f8;font-weight:bold}
.uio_grid table td.disabled{color:#b0b0b0}
.uio_grid table td.invalidated_row{background:#ffe1e1;}
.uio_grid table td.invalidated_column, .uio_grid table td.invalidated_column input, .uio_grid table td.invalidated_column select{color:#ff0202}
.uio_grid table td.focused{padding:0 9px;border:dotted 1px #190000;}
.uio_grid table col{background:#fff}
.uio_grid table col.editable{background-color:#ffffef}

.uio_grid table td .search_bx{position:relative}
.uio_grid table td .search{display:block;height:20px;padding:0 33px 0 6px;border:1px solid #9c9c9c;line-height:20px}
.uio_grid table td .search input{width:100%;background:transparent;padding:0;padding-top:4px;border:0;color:#999;-webkit-appearance:none}
.uio_grid table td .search_btn{position:absolute;top:3px;right:0;background-color:transparent;border:0;width:22px;height:21px;background:url(../images/sp_btn2.gif) no-repeat -120px -20px;cursor:pointer}
.uio_grid table td .ipt_search_del{position:absolute;top:8px;right:26px;background-color:transparent;border:0;width:7px;height:7px;background:url(../images/sp_btn2.gif) no-repeat -120px -49px;cursor:pointer}

.uio_grid table td .cal_bx{display:block;position:relative;padding-right:23px;zoom:1}
.uio_grid table td .cal_btn{position:absolute;top:3px;right:0;width:22px;height:17px;padding:0;border:0;background:url(../images/sp_btn2.gif) no-repeat -166px -148px;cursor:pointer;vertical-align:middle}

/* toolbar */
.uio_grid .toolbar{display:none;width:100%;height:65px;bottom:0px;position:absolute;background:#fff;border-top: 1px solid #ccc}
.uio_grid .toolbar .total_count{position:absolute;top:20px;left:24px;color:#002caf;font-weight:bold}
.uio_grid .toolbar .btn_setup{position:absolute;right:10px;top:14px}
.uio_grid .toolbar .height_resize_bar{overflow:hidden;cursor:row-resize;position:absolute;bottom:0px;height:15px;width:100%;align:center;border:0;background:url(../images/sp_bu.gif) no-repeat 50% -70px;font-size:0;line-height:999px;font-size:9px;text-align:center}
.uio_grid .toolbar .height_resize_handle{display:block;margin:0 10px;border-top:1px solid #ccc;cursor:row-resize;}

.grid_configurator{display:none;position:absolute;z-index:20;width:523px;padding:20px;border:solid 1px #888;background:#fff;font-family:'돋움',dotum;font-size:11px;}
.grid_configurator h3{margin:0 0 9px;color:#454545;font-size:12px}
.grid_configurator tr{height:37px}
.grid_configurator table td{padding-right:0;background:#fff;text-align:left;}
.grid_configurator td:first-child{width:110px;background:#fcfcfc;font-weight:bold}
.grid_configurator .hidden_column{color:#a0a0a0}
.grid_configurator .focus{border:solid 1px green}
.grid_configurator .column_order{overflow:auto;overflow-x:hidden;width:168px;height:151px;margin:0;padding:0;border:solid 1px #c9c9c9;border-right:solid 1px #ebebeb;border-bottom:solid 1px #ebebeb;scrollbar-highlight-color:#fff;scrollbar-shadow-color:#fff;scrollbar-arrow-color:#a1a1a1;scrollbar-face-color:#fff;scrollbar-3dlight-color:#ebebeb;scrollbar-darkshadow-color:#ebebeb;scrollbar-track-color:#f9f9f9}
.grid_configurator .column_order li{margin:0;padding:2px 0 0 5px;color:#888;line-height:15px;list-style:none;cursor:pointer}
.grid_configurator .column_order li:first-child{margin-top:5px}
.grid_configurator .column_order li.disabled{color:#b0b0b0;cursor:pointer}
.grid_configurator .column_order li.on{background-color:#f7f7f7;color:#00adff;font-weight:bold;text-decoration:underline}
.grid_configurator .set_column{width:100%;padding:5px 0}
.grid_configurator .set_column:after{display:block;clear:both;content:''}
.grid_configurator .set_column .sort{float:left;position:relative;width:195px;background:url(../images/component/grid/uiogrid_arr.gif) no-repeat 180px 50%}
.grid_configurator .set_column .sort .stit{display:block;margin-bottom:5px}
.grid_configurator .set_column .sort .btn{position:absolute;top:1px;right:25px}
.grid_configurator .set_column .item{float:left;width:180px}
.grid_configurator .set_column .item .stit{display:block;margin-bottom:5px}
.grid_configurator .set_column .item .inner{height:137px;padding:7px;border:1px solid #ebebeb;line-height:21px;background:url(../images/component/grid/uiogrid_bg.gif) repeat-y}
.grid_configurator .set_column .item .inner input{vertical-align:middle}
.grid_configurator .grid_btn_area{margin-top:20px;text-align:center}

/* grid configurator popup */
.configurator{display:none;background:#fff;}
.configurator .lpop_wrap{border:1px solid #565960}
.configurator .lpop_h{padding:13px 0 14px 20px;border-bottom:1px solid #eee;font-size:15px;color:#000;font-weight:bold;letter-spacing:-1px}
.configurator .lpop_con{padding:20px 20px 53px 20px}
.configurator .lpop_tbl_type{clear:both;margin-bottom:25px}
.configurator .lpop_tbl_type table{width:100%;border:1px solid #c5c5c5;border-width:0 0 1px 1px;table-layout:fixed;border-collapse:collapse; border-spacing:0}
.configurator .lpop_tbl_type th,.lpop_tbl_type td{border:1px solid #c5c5c5;border-width:1px 1px 0 0;text-align:left}
.configurator .lpop_tbl_type th{width:125px;padding:12px 0 10px 15px;background:#e7e7e7;border-width:1px 0 0 0;font-weight:normal;letter-spacing:-1px}
.configurator .lpop_tbl_type td{padding:12px 0 10px 14px}
.configurator .ipt_check{width:13px;height:13px;margin:0 0 1px;padding:0;vertical-align:middle}
.configurator .lpop_tbl_type label{margin-right:29px;vertical-align:middle}
.configurator .lpop_tbl_type .td_caution{margin-top:7px;font-size:11px;color:#999898}
.configurator .setup_bx{position:relative;margin-bottom:14px;zoom:1}
.configurator .setup_wrap{display:inline;float:left;position:relative;width:145px}
.configurator .setup_tit{margin:0 0 7px;padding-left:8px;background:url(../images/sp_bu.gif) no-repeat 0 -49px}
.configurator .setup_lst{overflow:hidden;overflow-y:auto;height:163px;padding:6px 0;border:1px solid #9c9c9c}
.configurator .setup_lst li{overflow:hidden;margin:0;font-size:12px;line-height:20px;vertical-align:top;zoom:1}
.configurator .setup_lst li a{padding-left:7px;color:#000;text-decoration:none}
.configurator .setup_lst li.on a{font-weight:bold;background-color:#00ffee;}
.configurator .setup_del{float:left;padding:67px 10px 0}
.configurator .setup_del p{margin-top:3px}
.configurator .setup_num{width:200px;margin-top:7px;vertical-align:top}

.configurator .setup_num a,.setup_num span{display:inline-block;vertical-align: middle}
.configurator .setup_wrap .up{width:44px;height:22px;background-position:-300px -120px}
.configurator .setup_wrap .btn_sp:hover .up,.setup_wrap .btn_sp:focus .up{width:44px;height:22px;background-position:-380px -120px}
.configurator .setup_wrap .btn_sp:active .up{width:44px;height:22px;background-position:-460px -120px}
.configurator .setup_wrap .down{width:44px;height:22px;background-position:-300px -80px}
.configurator .setup_wrap .btn_sp:hover .down,.setup_wrap .btn_sp:focus .down{width:44px;height:22px;background-position:-380px -80px}
.configurator .setup_wrap .btn_sp:active .down{width:44px;height:22px;background-position:-460px -80px}
.configurator .lpop_btn{text-align:center}
.configurator .setup_wrap  a.btn_sp.disable span.up{background-position:-530px -120px;cursor:default}
.configurator .setup_wrap  a.btn_sp.disable span.down{background-position:-530px -80px;cursor:default}

.has_config{border-color:#4285f4 !important; color:#4285f4 !important}
.disabled_config{color:#c6c6c6;cursor:default !important;opacity:.5;filter:alpha(opacity=50)}
.disabled_config:active{border:1px solid #a4a4a4}


/* gird disable status */
.grid_disabled td{
    background-color:#f1f1f1 !important;
    color:#b0b0b0 !important;
}
.grid_disabled select{
    color:#b0b0b0 !important;
}

.grid_disabled td a,
.grid_disabled td img,
.grid_disabled td input,
.grid_disabled td span{
    color:#b0b0b0 !important;
    cursor:default !important;
}

.grid_disabled td .btn_text2{
    border:1px solid #dfdfdf;
    color:#c6c6c6;
    cursor:default;
}

.grid_disabled td .search_bx{
    opacity:0.5;
    filter:alpha(opacity=50);
}
