#wrapper {
    width:90%;
    margin:auto;
}
.uio_grid table td a {
    color: #868686;
    font-weight: normal;
    text-decoration: underline;
}

.uio_grid table td.editable {
    background-color: #fff;
    font-style: italic;
}

.uio_grid table td.selected {
    background-color: #FEFFEF;
    font-weight: bold;
    position: relative;
}

.uio_grid table td span.input input {
    border: solid 1px #e2e3ea;
    padding-left: 5px;
    font-size: 12px;
    font-style: italic;
    background: transparent;
}

.uio_grid table td span.input input::-ms-clear {
    display: none;
}

.uio_grid .rside_area .data .selection_layer, .uio_grid .lside_area .data .selection_layer {
    border: dotted 1px #748eea;
    background: #748eea;
}