# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Compiled files for DEV
build

# Dependency directory
node_modules

# Bower Components
/lib

#JSDOC
doc

# IDEA
.idea
*.iml

# Window
Thumbs.db
Desktop.ini

# MACgi
.DS_Store

# eclipse
.project
.metadata

#report
report

#local
karma.conf.local.js

# Atom
tags
.ctags
.tern-project
