.calendar
    position absolute
    width 190px
    background #fff
    border 1px solid #ccc
    font-size 11px
    color #444
    font-family arial

    table
        margin 0 auto
        table-layout fixed
        text-align center
        tr
            height 20px
        th
            width 20px
        td
            cursor pointer
            &:hover
                background #eef

.calendar-header
    padding 6px 0 5px
    text-align center
    border-bottom 1px solid #ddd

.calendar-title
    font-size 14px

.calendar-body
    padding 5px 7px

$calendar-btn
    position absolute
    top 4px
    padding 3px 6px 2px
    border 1px solid transparent
    &:hover
        border-color #ccc

.calendar-btn-prev-year
    @extend $calendar-btn
    left 18px

.calendar-btn-prev-month
    @extend $calendar-btn
    left 42px

.calendar-btn-next-month
    @extend $calendar-btn
    right 42px

.calendar-btn-next-year
    @extend $calendar-btn
    right 20px

.calendar-today
    font-weight bold

.calendar-prev-month,
.calendar-next-month
    opacity: 0.3

.calendar-sat
    color #00f

.calendar-sun
    color #e82828

.calendar-footer
    display none
