p, input
    margin 0
    padding 0

ul, li
    list-style none
    padding 0
    margin 0

strong, em
    font-style normal

.btn_text
    display inline-block
    text-decoration none

    span
        display inline-block
        font-size 11px
        color #333
        letter-spacing -1px
        line-height 23px
        white-space nowrap
        cursor pointer
        margin-left 8px
        padding-right 7px

    .excel
        display inline-block
        padding-left 17px
        background url(../images/icons.gif) no-repeat 0 5px

    .grid
        display inline-block
        padding-left 17px
        background url(../images/icons.gif) no-repeat 0 -21px
