p, input
    margin 0
    padding 0

input[type=text]
    outline none

ul, li
    list-style none
    padding 0
    margin 0

strong, em
    font-style normal

.btn_text
    display inline-block
    text-decoration none

    span
        display inline-block
        position relative
        font-size 11px
        color #333
        padding-left 17px
        letter-spacing -1px
        line-height 23px
        white-space nowrap
        cursor pointer
        margin-left 8px
        padding-right 7px

    $btn-common =
        display inline-block
        padding-left 17px

    em
        position absolute
        left 0
        top 5px
        width 17px
        height 12px
        background url(../images/icons.gif) no-repeat

        &.excel
            background-position -30px -60px

        &.grid
            background-position -30px -60px

$line-common =
    position absolute
    top 0
    width 1px
    height 100%
    background #ccc
    z-index 10

.left_line
    {$line-common}
    left 0

.right_line
    {$line-common}
    right 0

.clipboard
    position fixed
    top 0px
    left -9999px
    width 100px
    height 100px
