opacity(n)
    opacity n
    filter unquote('alpha(opacity=' + round(n * 100) + ')')

+prefix-classes('tui-grid-')
    .container
        width 100%
        position relative
        border-width 0
        clear both
        font-size 12px
        font-family '돋움', Dotum, Helvetica, 'Apple SD Gothic Neo', Sans-serif

        ::-webkit-scrollbar
            -webkit-appearance none
            width 17px
            height 17px

        ::-webkit-scrollbar-thumb
            border 5px solid transparent
            border-radius 7px
            background-clip content-box

        *
            box-sizing content-box // reset bootstrap style

        p, input, textarea
            margin 0
            padding 0
            font-size @font-size
            font-family @font-family

        fieldset
            margin 0
            padding 0
            border 0
            display inline
            white-space nowrap

        input[type=text], input[type=password]
            outline none
            box-sizing border-box
            line-height normal // prevent to be inherit

        ul, li
            list-style none
            padding 0
            margin 0

        strong, em
            font-style normal

    .clipboard
        position fixed
        top 0px
        left -9999px
        width 100px
        height 100px

    .btn-text
        display inline-block
        text-decoration none

        span
            display inline-block
            position relative
            font-size 11px
            color #333
            padding-left 17px
            letter-spacing -1px
            line-height 23px
            white-space nowrap
            cursor pointer
            margin-left 8px
            padding-right 7px

        em
            position absolute
            left 0
            top 5px
            width 17px
            height 12px
            background url(../../images/icons.gif) no-repeat

            &.btn-excel-icon
                background-position -30px -60px

    .btn-sorting
        display inline-block
        overflow hidden
        margin-left 6px
        height 15px
        width 8px
        background url(../../images/icons.gif) -20px -60px no-repeat
        vertical-align middle
        cursor pointer

    .btn-sorting-down
        background-position 0 -60px

    .btn-sorting-up
        background-position -10px -60px

    .icon-arrow
        display inline-block
        width 0
        height 0
        border-style solid
        border-width 4px
        border-color #a0a0a0

    .icon-arrow-left {
        border-top-color transparent
        border-bottom-color transparent
        border-left-width 0
    }

    .icon-arrow-right {
        border-top-color transparent
        border-bottom-color transparent
        border-right-width 0
    }

    @import 'layer.styl'
    @import 'table.styl'
    @import 'layout.styl'
    @import 'pagination.styl'
