.uio_grid
    width 100%
    background #fff
    color #444
    position relative
    border-bottom solid 1px #ccc
    clear both
    scrollbar-highlight-color #f5f5f5
    scrollbar-shadow-color #f5f5f5
    scrollbar-arrow-color #8a8a8a
    scrollbar-face-color #d9d9d9
    scrollbar-3dlight-color #f5f5f5
    scrollbar-darkshadow-color #f5f5f5
    scrollbar-track-color #f5f5f5
    font-size 12px
    font-family '돋움', Dotum, Helvetica, 'Apple SD Gothic Neo', Sans-serif

    ::-webkit-scrollbar
        -webkit-appearance none
        width 17px
        height 17px
        background-color #f5f5f5

    ::-webkit-scrollbar-thumb
        background-color #d9d9d9
        border 5px solid transparent
        border-radius 7px
        background-clip content-box

    ::-webkit-scrollbar-thumb:hover
        background-color #c1c1c1

    p, input
        margin 0
        padding 0

    fieldset
        margin 0
        padding 0
        border 0

    input[type=text]
        outline none

    ul, li
        list-style none
        padding 0
        margin 0

    strong, em
        font-style normal

    .btn_text
        display inline-block
        text-decoration none

        span
            display inline-block
            position relative
            font-size 11px
            color #333
            padding-left 17px
            letter-spacing -1px
            line-height 23px
            white-space nowrap
            cursor pointer
            margin-left 8px
            padding-right 7px

        $btn-common =
            display inline-block
            padding-left 17px

        em
            position absolute
            left 0
            top 5px
            width 17px
            height 12px
            background url(../images/icons.gif) no-repeat

            &.excel
                background-position -30px -60px

            &.grid
                background-position -30px -60px

    .clipboard
        position fixed
        top 0px
        left -9999px
        width 100px
        height 100px

    .cell_content
        input
            &[type=text],
            &[type=password]
                width 100%
                padding 2px 0
                border solid 1px #E2E3EA
                border-top solid 1px #ABADB3
                border-bottom solid 1px #E3E9EF
            &.editing
                border solid 1px #748eea

        label + input
            margin-left 10px

        select
            width 100%

        a
            color #002caf

    @import 'layer.styl'
    @import 'layout.styl'
    @import 'table.styl'
    @import 'toolbar.styl'
    @import 'pagination.styl'
