.state_layer
    position absolute
    box-sizing content-box // reset for bootstrap
    top 0
    left 0
    width 100%
    border-bottom solid 1px #ccc
    background #fff
    font-weight bold
    text-align center
    z-index 12

    .layer_content
        padding-top 50px

        .loading_img
            display block
            margin 10px auto 0
            background url(../images/ani_loading.gif)
            border 0
            width 150px
            height 13px

.editing_layer
    position absolute
    background #fff
    z-index 15
    padding 0 10px
    border dotted 1px #190000
    white-space nowrap
