.state_layer
    position absolute
    box-sizing content-box // reset for bootstrap
    top 0
    left 0
    width 100%
    padding-top 50px
    border-top solid 1px #ccc
    border-bottom solid 1px #ccc
    background #fff
    font-weight bold
    text-align center
    z-index 10

    .loading_img
        display block
        margin 10px auto 0
        background url(../images/ani_loading.gif)
        border 0
        width 150px
        height 13px
