.layer-state
    position absolute
    border-style solid
    border-color #ccc
    border-width 1px
    background #fff
    font-weight bold
    text-align center
    z-index 13

.layer-state-content
    padding-top 50px

.layer-state-loading
    display block
    margin 10px auto 0
    background url(../../images/ani_loading.gif)
    border 0
    width 150px
    height 13px

.layer-editing
    position absolute
    display none
    background #fff
    z-index 15
    padding 0 10px
    border-style solid
    border-width 1px
    white-space nowrap
    box-sizing border-box

    textarea
        position absolute
        left 0
        top 0
        width 100%
        height 100%
        padding 3px 10px
        box-sizing border-box
        white-space normal
        word-break break-all
        overflow hidden

.layer-focus-border
    position absolute
    overflow hidden
    z-index 14

.layer-selection
    position absolute
    display none
    top 0
    width 0
    height 0
    border-style solid
    border-width 1px
    opacity 0.2

.layer-datepicker
    position absolute
    z-index 100
    box-sizing border-box

.layer-datepicker *
    box-sizing border-box
