$selection-layer =
    display none
    position absolute
    top 0
    width 0
    height 0
    border solid 1px #004082
    background #4DAAF9
    opacity 0.2
    filter unquote('alpha(opacity=10)')

.lside_area
    display none
    height 100%
    position absolute
    top 0
    left 0
    overflow hidden

    .header
        overflow hidden

    .data
        overflow scroll
        position relative
        margin-right -17px

        .selection_layer
            {$selection-layer}
            left 1px

    .scrollbar_overlay
        position absolute
        bottom 0
        left 0
        right 0
        height 16px
        background-color #f5f5f5

.rside_area
    display none
    height 100%
    overflow hidden

    .header
        position relative
        margin-right 17px
        overflow hidden
        &.no_scroll
            margin-right 0

    .data
        position relative
        overflow scroll

        .selection_layer
            {$selection-layer}
            left -1px

    .header_space
        display block
        box-sizing content-box // reset for bootstrap
        position absolute
        top 0
        right 0
        width 16px
        border solid 1px #ccc
        background #eee

    .scrollbar_border
        display block
        position absolute
        right 17px
        width 1px
        background #ccc

    .scrollbar_corner
        position absolute
        bottom 0
        right 0
        width 17px
        height 17px
        background-color #f2f2f2

.header
    .resize_handle_container
        display none
        position relative
        width 0

        .resize_handle
            float left
            position absolute
            top -1px
            left -99px
            width 7px
            height 100%
            background red
            opacity 0
            filter unquote('alpha(opacity=0)')
            cursor col-resize

        .resize_handle_last
            width 3px

.body_container
    position relative

    .table_container
        position absolute
