.lside_area
    display none
    height 100%
    position absolute
    top 0
    left 0
    overflow hidden

    .header
        _width 100%
        overflow hidden

    .data
        _width 100%
        overflow scroll
        position relative
        margin-right -17px
        *padding-right 17px


        table
            *margin-right -17px

        .selection_layer
            display none
            position absolute
            top 0
            left 1px
            width 0
            height 0
            border dotted 1px red
            background orange
            opacity 0.2
            filter unquote('alpha(opacity=10)')

.rside_area
    display none
    height 100%
    overflow hidden

    .header
        _width 100%
        position relative
        *padding-right 17px
        overflow-x hidden
        overflow-y scroll

        table
            *margin-right -17px

    .data
        _width 100%
        position relative
        *padding-right 17px
        overflow scroll

        table
            *margin-right -17px

        .selection_layer
            display none
            position absolute
            top 0
            left -1px
            width 0
            height 0
            border dotted 1px red
            background orange
            opacity 0.2
            filter unquote('alpha(opacity=10)')

    .space
        display block
        position absolute
        top 0
        right 0
        width 16px
        border solid 1px #ccc
        background #f8f8f8

    .virtual_scrollbar
        display none
        overflow-x hidden
        overflow-y scroll
        position absolute
        width 18px
        right 0
        top 0

    .virtual_scrollbar .content
        width 1px
        background #ccc

.header
    th
        background #f8f8f8

    .resize_handle_container
        display none
        position relative
        width 0

        .resize_handle
            float left
            position absolute
            top -1px
            left -99px
            width 7px
            height 100%
            background red
            opacity 0
            filter unqoute('alpha(opacity=0)')
            cursor col-resize

        .resize_handle_last
            width 3px

.table_container
    position relative
