$line-common =
    position absolute
    background #ccc
    z-index 13

.left-line
    {$line-common}
    top 0
    bottom 0
    left 0
    width 1px

.right-line
    {$line-common}
    top 0
    bottom 0
    right 0
    width 1px

.data-bottom-line
    {$line-common}
    bottom 0
    left 0
    right 17px
    height 1px

$selection-layer =
    display none
    position absolute
    top 0
    width 0
    height 0
    border solid 1px #004082
    background #4DAAF9
    opacity 0.2
    filter unquote('alpha(opacity=10)')

.lside-area
    display none
    height 100%
    position absolute
    top 0
    left 0
    overflow hidden
    z-index 10

    .header
        overflow hidden

    .data
        overflow scroll
        position relative
        margin-right -17px

        .selection-layer
            {$selection-layer}
            left 1px

    .scrollbar-overlay
        position absolute
        bottom 0
        left 0
        right 0
        height 17px
        background-color #f5f5f5

.rside-area
    display none
    height 100%
    overflow hidden

    .header
        position relative
        margin-right 17px
        overflow hidden
        &.no_scroll
            margin-right 0

    .data
        position relative
        overflow scroll

        .selection-layer
            {$selection-layer}

    .header-space
        display block
        position absolute
        top 0
        right 0
        width 16px
        border solid 1px #ccc
        background #eee

    .scrollbar-border
        display block
        position absolute
        right 17px
        width 1px
        background #ccc

    .scrollbar-corner
        position absolute
        bottom 0
        right 0
        width 17px
        height 17px
        background-color #f5f5f5

.header
    .resize-handle-container
        display none
        position relative
        width 0

        .resize-handle
            float left
            position absolute
            top -1px
            left -99px
            width 7px
            height 100%
            background red
            opacity 0
            filter unquote('alpha(opacity=0)')
            cursor col-resize

        .resize-handle-last
            width 3px

.body-container
    position relative
    margin-top -1px

    .table-container
        position absolute
