.pagination
    height 12px
    margin-bottom 12px
    padding-top 14px
    line-height normal
    text-align center

    a, strong
        display inline-block
        position relative
        padding 3px 8px 4px
        color #333
        font-size 12px
        font-weight bold
        line-height normal
        text-decoration none
        vertical-align middle

    strong
        padding 3px 6px 4px
        color #ff1313
        border 1px solid #d4d4d4
        background #e7e7e7

    .next,
    .next_end,
    .pre,
    .pre_end
        overflow hidden
        width 33px
        height 11px
        padding 0
        background url(../images/icons.gif) no-repeat
        font-size 0
        line-height 999px
        white-space nowrap

    .next
        margin-left 10px
        background-position 0 -50px

    .next_end
        width 40px
        margin-left 11px
        background-position 0 -75px

    .pre
        margin-right 10px
        background-position 0 -100px

    .pre_end
        width 40px
        margin-right 8px
        background-position 0 -125px
