.pagination
    /**
     * @constructs
     */
    height 34px
    padding-top 8px
    line-height normal
    text-align center
    border-style solid
    border-color #ccc
    border-width 0 1px 1px

    a, strong, span
        display inline-block
        position relative
        padding 4px 8px 4px
        min-width 13px
        color #333
        font-size 12px
        font-weight bold
        line-height normal
        text-decoration none
        vertical-align middle

    strong
        padding 4px 6px 4px
        color #ff1313
        border 1px solid #d4d4d4
        background #e7e7e7

    .pre-end,
    .pre-end-off,
    .pre,
    .pre-off,
    .next,
    .next-off,
    .next-end,
    .next-end-off
        overflow hidden
        width 25px
        height 24px
        padding 0
        border 0
        background url(../../images/icons.gif) no-repeat
        font-size 0
        line-height 999
        overflow hidden
        white-space nowrap

    .pre-end,
    .pre-end-off,
    .next-end,
    .next-end-off
        width 24px

    .pre,
    .pre-off
        margin-right 12px

    .next,
    .next-off
        margin-left 12px

    .pre-end
        background-position 0 0

    .pre-end-off
        background-position 0 -30px

    .pre
        background-position -24px 0

    .pre-off
        background-position -24px -30px

    .next
        background-position -50px 0

    .next-off
        background-position -50px -30px

    .next-end
        background-position -75px 0

    .next-end-off
        background-position -75px -30px
