table
    border-width 1px
    border-style solid
    table-layout fixed
    border-collapse collapse
    margin 0

    th
        overflow hidden
        white-space nowrap
        *white-space pre
        text-align center
        padding 0
        border-width 1px
        border-style solid

        .btn-sorting
            display inline-block
            overflow hidden
            margin-left 6px
            height 15px
            width 8px
            background url(../images/icons.gif) -20px -60px no-repeat
            vertical-align middle
            cursor pointer

        .btn-sorting-down
            background-position 0 -60px

        .btn-sorting-up
            background-position -10px -60px

    td
        overflow hidden
        padding 1px 10px
        *padding 1px 10px 0
        border-style solid
        border-width 1px
        white-space nowrap
        *white-space pre

        &.ellipsis
            -o-text-overflow ellipsis /*Opera 9*/
            -moz-binding url('ellipsis.xml#ellipsis') /* Firefox */
            width 100% /* for IE6 */
            text-overflow ellipsis

        img
            vertical-align middle

        span
            &.before
                float left
                margin-right 2px
                line-height 1.5

            &.after
                float right
                margin-left 2px
                line-height 1.5

            &.input
                display block
                overflow hidden
                line-height 1.5
                *margin-left -2px
                *padding-left 2px
