table
    border 0
    table-layout fixed
    background-color #ccc
    border-collapse separate
    border-spacing 1px
    margin 0

    th
        overflow hidden
        white-space nowrap
        *white-space pre
        text-align center
        padding 0
        border 0
        background #e5e5e5

        .sort a
            color #555
            text-decoration none

        .btn_sorting
            display inline-block
            overflow hidden
            margin-left 6px
            height 15px
            width 8px
            background url(../images/icons.gif) -20px -60px no-repeat
            vertical-align middle
            cursor pointer

        .sorting_down
            background-position 0 -60px

        .sorting_up
            background-position -10px -60px

    tr
        &.disabled
            color #b0b0b0

    td
        overflow hidden
        padding 0 10px
        *padding 1px 10px
        border 0
        white-space nowrap
        background-color #fafafa
        *white-space pre

        &.meta_column
            background #e5e5e5
            &.dummy
                background #e5e5e5
            &.selected
                background #a0a0a0
                color #f8f8f8

        &.editable
            background-color #fff

        &.dummy
            background-color #fff

        &.required
            background-color #fffdeb

        &.disabled
            color #b0b0b0

        &.focused
            padding 0 9px
            border dotted 1px #190000

        &.invalid
            padding 0 9px
            border solid 1px #FF8080

        &.ellipsis
            -o-text-overflow ellipsis /*Opera 9*/
            -moz-binding url('ellipsis.xml#ellipsis') /* Firefox */
            width 100% /* for IE6 */
            text-overflow ellipsis

        img
            vertical-align middle

        span
            &.before
                float left
                margin-right 2px
                line-height 1.5

            &.after
                float right
                margin-left 2px
                line-height 1.5

            &.input
                display block
                overflow hidden
                line-height 1.5
                *margin-left -2px
                *padding-left 2px

                input
                    box-sizing border-box

        input
            &[type=text],
            &[type=password]
                width 100%
                padding 2px 0
                border solid 1px #E2E3EA
                border-top solid 1px #ABADB3
                border-bottom solid 1px #E3E9EF

            &.editing
                border solid 1px #748eea

        .search_bx
            position relative

        .search
            display block
            height 20px
            padding 0 33px 0 6px
            border 1px solid #9c9c9c
            line-height 20px

            input
                width 100%
                background transparent
                padding 0
                padding-top 4px
                border 0
                color #999
                -webkit-appearance none

        select
            width 100%

        a
            color #002caf
