.table
    border-width 1px
    width 1px
    box-sizing border-box
    border-style solid
    table-layout fixed
    border-collapse collapse
    margin 0

.lside-area .table
    border-right-width 0
    width 100%
    outline 1px solid transparent

.summary-area
    .table
        border-width 0 1px
    .cell
        border-width 0 1px

.cell
    overflow hidden
    border-width 1px
    border-style solid
    white-space nowrap
    padding 0

    .cell-content
        padding 3px 10px
        overflow hidden
        box-sizing border-box
        word-break break-all

    img
        vertical-align middle

.cell-head
    padding 0
    text-align center

.cell-ellipsis
    .cell-content
        text-overflow ellipsis

.cell-content
    .content-before
        float left
        margin-right 2px
        line-height 1.5

    .content-after
        float right
        margin-left 2px
        line-height 1.5

    .content-input
        display block
        overflow hidden
        line-height 1.5
        *margin-left -2px
        *padding-left 2px

    input
        &[type=text],
        &[type=password]
            width 100%
            padding 2px 0
            border solid 1px #e2e3ea
            border-top solid 1px #abadb3
            border-bottom solid 1px #e3e9ef

    label + input
        margin-left 10px

    select
        box-sizing border-box
        width 100%

.column-resize-container
    display none
    position relative
    width 0

.column-resize-handle
    float left
    position absolute
    bottom 1px
    left -99px
    width 7px
    background #000
    opacity 0
    cursor col-resize

.column-resize-handle-last
    width 3px
