.toolbar
    display none
    left 0
    right 0
    height 65px
    bottom 0px
    position absolute
    border-style solid
    border-width 0 1px 1px
    z-index 11

.toolbar-btn-holder
    position absolute
    right 10px
    top 14px

.height-resize-handle
    overflow hidden
    background-color #f5f5f5
    cursor row-resize
    height 11px
    border-style solid
    border-width 0 1px 1px
    font-size 0
    text-align center

    a
        display block
        cursor row-resize

        span
            background url(../images/icons.gif) no-repeat -70px -60px
            display inline-block
            width 17px
            height 6px
            margin-top 3px
