.toolbar
    display none
    width 100%
    height 65px
    bottom 0px
    position absolute
    border-style solid
    border-width 1px 0 0
    z-index 11

.toolbar-btn-holder
    position absolute
    right 10px
    top 14px

.height-resize-bar
    overflow hidden
    cursor row-resize
    position absolute
    bottom 0px
    height 15px
    width 100%
    border 0
    font-size 0
    text-align center

    span
        background url(../images/icons.gif) no-repeat -70px -60px
        display inline-block
        width 17px
        height 6px
        margin-top 5px

.height-resize-handle
    display block
    margin 0 10px
    border-style solid
    border-width 1px 0 0
    cursor row-resize
