.toolbar
    height 30px
    position relative
    border-style solid
    border-width 1px 1px 0

    div
        position absolute
        right 10px
        top 4px

.height-resize-handle
    overflow hidden
    background-color #f5f5f5
    cursor row-resize
    height 11px
    border-style solid
    border-width 0 1px 1px
    font-size 0
    text-align center

    a
        display block
        cursor row-resize

        span
            background url(../images/icons.gif) no-repeat -70px -60px
            display inline-block
            width 17px
            height 6px
            margin-top 3px
