.btn-tree
    position absolute
    padding 0
    padding-left 4px
    margin-top -8px
    top 50%
    width 15px
    height 15px
    background transparent
    border none
    outline none
    font-size 0
    vertical-align middle
    cursor pointer

.tree-icon
    position absolute
    margin-top -7px
    top 50%
    width 22px
    height 14px
    font-size 0
    vertical-align middle

    i
        display inline-block
        margin-left 5px
        width 14px
        height 14px
        background url(../../images/icons.png) no-repeat -14px -35px

.tree-button-collapse
    .btn-tree i
        background-position -43px -61px
        width 8px
        height 11px

    .tree-icon i
        margin-left 4px
        background-position -39px -35px
        width 14px
        height 14px

.tree-button-expand
    .btn-tree i
        margin-top 2px
        background-position -15px -63px
        width 11px
        height 8px

    .tree-icon i
        margin-left 4px
        background-position -65px -35px
        height 14px
        width 14px

.tree-wrapper-relative
    display table
    position relative
    margin -1px 0 // cross-browsing margin bug
    height 100%
    width 100%

.tree-wrapper-valign-center
    display table-cell
    vertical-align middle

.tree-extra-content
    position absolute
    margin-left 4px
    top 0
    left 0
    bottom 0

.tree-depth
    display inline-block
    position absolute
    width 22px
    top 0
    bottom 0

    i
        display inline-block
        background url(../../images/icons.png) no-repeat
